.canvas-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Fish canvas layer */
.canvas-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* The translucent water overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px); /* slight blur for depth */
  z-index: 1;
  pointer-events: none; /* allows clicks to go through to buttons */

  background: linear-gradient(
    rgba(0, 50, 100, 0.25),
    rgba(0, 30, 70, 0.35)
  );
  animation: shimmer 8s ease-in-out infinite alternate;
}

@keyframes shimmer {
  0% {
    backdrop-filter: blur(.75px) brightness(1);
  }
  100% {
    backdrop-filter: blur(1px) brightness(1.15);
  }
}

/* UI text and buttons */
.ui {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  color: white;
  flex-direction: row;
  gap: 100rem;
}

.ui .upper {
  font: "Coco Gothic", serif;
  font-size: 13px;
  margin-bottom: 1rem;
  letter-spacing: 13.9px;
}

.ui h1 {
  display: block;
  font-family: "Catchy Mager", cursive;
  font-size: 106px;
  margin-bottom: 1rem;
}

.ui .sub {
  display: block;
  font-family: "Catchy Mager", cursive;
  font-size: 26px;
  margin-bottom: 2rem;
}

.ui button {
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  border-radius: 8px;
  color: white;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 0.5rem;
}

.ui button:hover {
  background: rgba(255, 255, 255, 0.4);
}

@font-face {
  font-family: "Coco Gothic";
  src: url("../public/fonts/CocoGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Catchy Mager";
  src: url("../public/fonts/catchy-mager.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}